<tr>
  <td>
    <%= sale.name %>
  </td>
  <td>
    <%= sale.percent %>
  </td>
  <td>
    <%= sale.start_date %>
  </td>
  <td>
    <%= sale.end_date %>
  </td>
  <td>
    <!-- span label- info danger success -->
    <%= sale.status %>
  </td>
</tr>