<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Signup!</h1>

<%= form_for :user, url: signup_path do |f| %>

  <div class="form-group">
    First Name: <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    Last Name: <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    Email: <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    Password: <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-default'  %>
  </div>

<% end %>